[submodule "site/themes/hugo-geo"]
	path = site/themes/hugo-geo
	url = https://github.com/alexurquhart/hugo-geo.git
[submodule "site/themes/hyde-hyde"]
	path = site/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "site/themes/m10c"]
	path = site/themes/m10c
	url = https://github.com/scratchmesh/hugo-theme-m10c.git
